@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity
@{
    // var ImagePath = "../../Images/" + Model.FilePath;
    var UId = User.Identity.GetUserId();

}
@model TradeWeb.ViewModels.PostViewModel
<style>
    #user-label, #IsUser {
        display: none !important;
    }
</style>

<div class="jumbotron">
    <h2 class="text-center">TradeVilla or TradeWeb Whatever!</h2>
</div>




@if (Request.IsAuthenticated)
{
    <!-- Button trigger modal -->
    @Html.Partial("_SearchBox")
    <div class="text-center">
        <button type="button" class="btn d-block btn-primary mt-5" style="margin-top:20px;margin-bottom:20px;" data-toggle="modal" data-target="#exampleModal">
            Add Post
        </button>
    </div>


    @Html.Partial("_AllPosts", Model.AdPost)
    @Html.Partial("_AddPostForm")



}


<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
