@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity
@{
    // var ImagePath = "../../Images/" + Model.FilePath;
    var UId = User.Identity.GetUserId();
    Model.UserView = false;

}
@model TradeWeb.ViewModels.PostViewModel
<style>
    #user-label, #IsUser {
        display: none !important;
    }

    .img-box {
        position: relative;
    }

        .img-box:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background: #F2A99A;
            z-index: -1;
            top: -3rem;
            left: -3.5rem;
        }

    .img-col {
        padding: 5rem;
        padding-right: 1.75rem;
        padding-bottom: 1.5rem;
    }
</style>

@*<div class="jumbotron">
        <h2 class="text-center">TradeVilla</h2>

    </div>*@
@if (!Request.IsAuthenticated)
{
    <section id="hero" class="bg-regular" style="background-image:url(../../Images/hero-bg.jpg)">
        <div class="video-box color1-overlay opacity-20">

            <video data-id="2" muted="" id="bgVideo" autoplay="autoplay" loop="loop">
                <source src="../../Video/bg-video.mp4" type="video/mp4">
            </video>
            <script>
                var vid = document.getElementById("bgVideo");
                vid.playbackRate = 0.85;

            </script>




        </div>
        <div class="content">
            <div class="container-lg d-flex align-items-center justify-content-center h-100 ">
                <div class="cold-md-10 col-lg-8 text-center" data-aos="fade-down">
                    <h1 class="display-2 text-white bold-1" style="margin-bottom:10vh"><span class="color1-bg " style="white-space:pre;">  TradeVilla  </span></h1>
                    <h2 class="display-3 text-white bold-2 my-5">
                        Trade <span class="color2-bg ">Online.</span> Save <span class="color2-bg">Money.</span>
                    </h2>
                    <h2 class="display-3 text-white bold-2 mb-5">
                        Save <span class="color2-bg">Time.</span>
                    </h2>
                    <a class="color1-btn my-5" href="/Account/Register">Get Started</a>



                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row align-items-stretch mbl-reverse">
                <div class="col-md-6 d-flex align-items-center justify-content-center" data-aos="fade-right">
                    <div class="py-4">
                        <h3 class="my-5">Need something?</h3>

                        <h5>
                            Do you want something and don't want to spend much on it?
                            You can now trade it for something you don't anymore
                        </h5>
                        <a href="/Account/Register" class="my-5 color2-btn">Start Here</a>
                    </div>
                </div>
                <div class="col-md-6 img-col" data-aos="fade-left">
                    <div class="img-box">
                        <img class="img-fluid" src="../../Images/web-1.jpg" />
                    </div>

                </div>

            </div>

        </div>


    </section>
    <section class="pb-5">
        <div class="container">
            <div class="row align-items-stretch ">

                <div class="col-md-6 img-col" data-aos="fade-right">
                    <div class="img-box">
                        <img class="img-fluid" src="../../Images/web-2.jpg" />
                    </div>

                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-center" data-aos="fade-left">
                    <div class="py-4">
                        <h3 class="my-5">Don't Need something?</h3>
                        <h5>
                            Do you have an item that you don't use anymore? You can now trade
                            it for something you need.
                        </h5>

                        <a href="/Account/Register" class="my-5 color2-btn">Start Here</a>
                    </div>
                </div>

            </div>

        </div>


    </section>


    @section Scripts{
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init({ duration: 600 });
        </script>
    }

}

@if (Request.IsAuthenticated)
{
    <!-- Button trigger modal -->
    @Html.Partial("_SearchBox")
    <div class="container text-center ">
        <div class="adpost">
            <h2>Want to Trade something? </h2>
            <button type="button" class="color1-btn mt-5" data-toggle="modal" data-target="#exampleModal">
                Add Post
            </button>
        </div>
       
    </div>


    @Html.Partial("_AllPosts") //,Model.AdPost
    @Html.Partial("_AddPostForm")

    @section Scripts{
        <script>


            $(function () {
                // Multiple images preview in browser
                var imagesPreview = function (input, placeToInsertImagePreview) {

                    if (input.files) {
                        var filesAmount = input.files.length;

                        for (i = 0; i < filesAmount; i++) {
                            var reader = new FileReader();

                            reader.onload = function (event) {
                                $($.parseHTML('<img>')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                            }

                            reader.readAsDataURL(input.files[i]);
                        }
                    }

                };

                $('#gallery-photo-add').on('change', function () {
                    imagesPreview(this, 'div.gallery');
                });
                $('#cover-photo-add').on('change', function () {
                    imagesPreview(this, 'div.cover');
                });
            });
        </script>
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            jQuery.validator.setDefaults({
                onfocusout: function (e) {
                    this.element(e);
                },
                //onkeyup: false,
                highlight: function (element) {
                    jQuery(element).closest('.form-control').addClass('is-invalid');
                },
                unhighlight: function (element) {
                    jQuery(element).closest('.form-control').removeClass('is-invalid');
                    jQuery(element).closest('.form-control').addClass('is-valid');
                },

                errorElement: 'div',
                errorClass: 'invalid-feedback',
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group-prepend').length) {
                        $(element).siblings(".invalid-feedback").append(error);
                        //error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                },
            });

        </script>
    }

}


<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
