
@{
    ViewBag.Title = "Search";

}
@model TradeWeb.ViewModels.PostViewModel

<style>
    .search-form {
        position: static !important;
        margin-top: 6rem;
        left: 0 !important;
        transform: translate(0);
    }
</style>
@Html.Partial("_SearchBox")
<h2 class="container my-3">Search Results:</h2>
@if (Model.Users == null)
{
    Model.UserView = false;
    @Html.Partial("_AllPosts")
}
else
{
    @Html.Partial("_Users", Model.Users)
}


