
@{
    ViewBag.Title = "Search";

}
@model TradeWeb.ViewModels.PostViewModel


@Html.Partial("_SearchBox")
<h2 class="my-3">Search Results:</h2>
@if (Model.Users == null)
{
    Model.UserView = false;
    @Html.Partial("_AllPosts")
}
else
{
    @Html.Partial("_Users", Model.Users)
}


